snippet print "print" b
printf("$1"$2);
endsnippet

snippet println "print w/ newline" b
printf("$1\n"$2);
endsnippet

snippet input "take input" b
scanf("%$1", $2);
endsnippet

snippet {} "brackets" wA
{
    $1
}
endsnippet

snippet inc "include" b
#include <$1>
endsnippet
